* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2d3036;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.mfe-layout-header {
  color: whitesmoke;
  box-shadow: 0 1px 10px 1px #1e1f22;
  font-weight: 700;
  text-align: center;
  padding: 0.8rem 1rem;
  height: 3rem;
}

#main-content {
  height: 100%;
  max-height: calc(100vh - 3rem);
  flex: 1 1 0;
  overflow-y: scroll;
}

.mfe-layout-center {
  display: flex;
}

.mfe-layout-menu {
  display: flex;
  flex-direction: column;
  background: #1f2126;
}

.mfe-layout-menu-item {
  transition-property: all;
  transition-duration: 750ms;
  cursor: pointer;
  background: inherit;
  color: whitesmoke;
  padding: 0.7rem 0.8rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
}

.mfe-layout-menu-item:hover {
  transition-duration: 150ms;
  background: #46484d;
  outline: none;
}

.scrollbar::-webkit-scrollbar {
  width: 15px;
}

.scrollbar::-webkit-scrollbar-track {
  border: none;
  background: #2d3036;
}

.scrollbar::-webkit-scrollbar-thumb {
  border: none;
  background: #1f2126;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  border: none;
  background: #1f2126;
}
