@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 15px;
}

.scrollbar::-webkit-scrollbar-track {
  border: none;
  background: #dfdfdf;
}

.scrollbar::-webkit-scrollbar-thumb {
  border: none;
  background: #8f8f8f;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  border: none;
  background: #8f8f8f;
}
